@font-face{
    font-family: "IBMPlexMono";
    src: url(/fonts/IBMPlexMono-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    color: white;  
}
body{
 background-color: #1a1e23;
 font-family: 'IBMPlexMono'; 
}
h1{
    font-size: 117px;
    text-align: center;
    color: #12f7d6;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 40px;
}
.header__a{
    color: rgb(208, 206, 218);
}
.header__search{
    color: #1a1e23;
    background-color: white;
    border-radius: 24px;
    padding: 5px;
    border: 0;
    font-size: 16px;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #292f36 ;
    padding: 20px;  
}
.hero{
    background-color: #292f36;
    padding: 0 200px;
}
.hero__main{
    margin: 0 auto;
}
.hero__inf{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}
.hero__inf__box{
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    border-top-left-radius: 100px;
    border-bottom-right-radius:100px ;
    padding: 20px 30px;
    text-align: center;
    box-shadow: -3px -3px 1px #12f7d6;
}
.cv__btn{
    color:  #292f36;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    align-self: start;
}
.hero__inf__content{
    margin: 15px 0;
    text-align: start;
}
.hero__inf__content p{
    margin-bottom: 10px;
}
.highlight{
    color: #12f7d6;
}
.hero__inf__summary{
    margin: 0px 30px;
}
.hero__inf__summary p{
    margin: 30px 0;
}
.hero__inf__skills{
    background-color: #1a1e23;
    border-radius: 60px;
    padding: 20px;
}
.hero__inf__skill{
    display: flex;
    align-items: center;
    
}
.hero__inf__skill h3{
    color: #12f7d6;
}
.skills{
  background-color: #292f36;
  display: flex;
  flex-direction: column;
 text-align: center;
 padding: 40px;
 margin: 50px 0;
 justify-content: space-around;
 height: 600px;
}
.skills__app{
   background-color: #4fd2be;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 20px;
   height: 150px;
   width: 400px;
}
.skills__web{
  background-color: #4fd2be;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 20px;
   height: 150px;
   width: 400px;
}
.skills__main{
  display: flex;
  justify-content: space-between;
  
}

.input__text{
    position: relative;
    border: 0;
    height: 100px;
}
.icon__glass{
 position: relative;
 right: 20px;
 color: black;
}
.icon__main{
    position: relative;
    right: 20px;
}
.skill__icon{
    font-size: 48px;
    color: black;
}
.about__main{
    border: #1a1e23 solid 4px;
    border-radius: 20px;
    background-color: #292f36;
    height: 200px;
    width: 550px;
    font-size: 20px;
    padding: 20px;
    margin: 15px;

}



